<!DOCTYPE html>
<html>
  <head>
    <title><%= judul %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= judul %></h1>
    <p>Login dulu..</p>
  </body>
</html>
